@import 'fonts';

.questionnaire {
  background-color: white;
  border-radius: 9px;
  padding: 40px;
  width: 60%;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  button {
    margin-top: 20px;
    outline: none;
  }

  .content{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .questionContent{
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;

    button {
      text-align: center;
    }

    label {
      font-family: 'Cabin', sans-serif;
      padding-left: 10px;
    }
  }
}
