@import 'arrowBounce';
@import 'fonts';

#Home {
  height:100vh;
  background-color: #0095c8;
  margin: auto;
  text-align: center;

  .socialButtons {
    padding: 20px 20px 0 0;
    display: block;
    float: right;
    height: 50px;
  }

   img {
    display: block;
    margin: auto;
    clear:right;
   }

   #strapline {
     padding-bottom: 100px;
   }

   .strap {
    color: #FFFFFF;
    font-family: 'Cabin', sans-serif;
    font-size: 2em;
    display: inline-block;
    padding: 0 50px;

   }
}
