@import './arrowBounce';

#home {
   height:100vh;
   background-color: #0095c8;
   margin: auto;
   text-align: center;
   img {
     display: block;
     margin: auto;
   }


   // img {
   //    display: block;
   //    margin: auto;
   // }
}
