@import 'fonts';

#PatientSymptoms {
  height:100vh;
  background-color: #F98405;
  position: relative;
  text-align: center;
  margin: auto;
}

.Select {
  text-align: left;
  font-family: 'Cabin', sans-serif;
}
