#PatientAge {
  height:100vh;
  background-color: #ef4272;
  position: relative;
  text-align: center;
  margin: auto;
}

.value {
  font-family: 'Cabin', sans-serif;
}

.rangeslider-horizontal .rangeslider__fill {
    background-color: #03663f;
    outline: none;
}

.rangeslider__handle {
  outline: none;
  font-family: 'Cabin', sans-serif;
}
