//@import './arrowBounce';

#PatientAge {
  height:100vh;
  background-color: #03663f;
  position: relative;
  text-align: center;
  margin: auto;
}

.value {
  font-family: 'Cabin', sans-serif;
}

.rangeslider-horizontal .rangeslider__fill {
    background-color: #03663f;
}
