//@import './arrowBounce';

#PatientGender {
  height:100vh;
  background-color: #0095c8;
  position: relative;
  text-align: center;
  margin: auto;
}

#male {
  color: dodgerblue;
}

#female {
  color: #ef4272;
}
