@import 'reset';
@import 'fonts';
@import 'questionnaire';
@import 'button';

// html {
//   overflow-y: hidden; // hide vertical
//   overflow-x: hidden; // hide horizontal
// }


h1 {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
  text-align: left;
}

h2 {
  font-size:medium;
  font-weight:bold;
  padding: 20px 0 20px 0;
  font-family: 'Cabin', sans-serif;
}

input {
  font-family: 'Cabin', sans-serif;
}

* {
  font-family: 'Cabin', sans-serif;
}
