// @import 'reset';
@import 'home';
@import url('https://fonts.googleapis.com/css?family=Cabin');

html, body {
  height: 100v;
  width: 100v;
}

* {
  font-family: 'Cabin', sans-serif;
}

nav {
  img {
    height: 100vu;
  }
  color: white;
}

#male {
  color: dodgerblue;
}

#female {
  color: deeppink;
}

.rangeslider-horizontal .rangeslider__fill {
    background-color: teal;
}
