@import url('https://fonts.googleapis.com/css?family=Cabin');

* {
  font-family: 'Cabin', sans-serif;
}

nav {
  background-color: teal;
  color: white;
}

#male {
  color: dodgerblue;
}

#female {
  color: deeppink;
}

.rangeslider-horizontal .rangeslider__fill {
    background-color: teal;
}
